section {
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
    height: auto;
    white-space: nowrap;
    border: solid black;
    background-color: white;
    border-radius: 3em;
    padding-bottom: 50px;
}

table {
    justify-self: center;
    width: 50%;
    margin: auto;
}

Table a {
    color: black;
    margin: 5px 0;
    padding: 0 0.5em;
    border-radius: 5px;
    text-decoration: none;
    border: solid black;
}

Table a:visited {
    text-decoration: none;
}

li {
    list-style-type: none;
}